/* general */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #d0dafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  height: 100vh;
}

h2 {
  color: #b7b7bc;
}
p {
  color: #fafafa;
}

.item {
  font-size: 2em;
  padding: 10px;
  color: #fafafa;
}

.main {
  padding-right: 2em;
  display: grid;
  height: 100%;
  grid-template-columns: 200px 1fr 1fr;
  gap: 30px 30px;
  grid-template-rows: 275 auto;
  grid-template-areas:
    "sidebar temperature humidity"
    "sidebar chart chart"
    "sidebar map map";
}

/* MENU */
.sidebar {
  background: #071a51;
  height: 100%;
  width: 200px;
  grid-area: sidebar;
}

.menu {
  position: fixed;
  top: 0.5em;
}

.logo-app {
  background: linear-gradient(135deg, #3c7af6 0%, #d239f6 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#buttonLogin {
  color: #fafafa;
  border: none;
  background: transparent;
  font-size: 0.6em;
}

.logout-item {
  font-size: 1.1em;
  position: fixed;
  bottom: 2em;
}

.box {
  background: #39519c;
  text-align: center;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25),
    inset 0px 5px 5px rgba(255, 255, 255, 0.25);
}

.temperature {
  grid-area: temperature;
}

.humidity {
  grid-area: humidity;
}

.temperatureLocal,
.temperature,
.humidity,
.humidityApi {
  font-size: 2em;
  color: #fafafa;
}

.temperature,
.humidity {
  margin-top: 1.5em;
}

.chart {
  grid-area: chart;
}
.zone-map {
  grid-area: map;
}

/* DATA HUMIDITY AND TEMPERATURE BY HOUR */
.chart {
  height: auto;
  text-align: center;
  background: #39519c;
}

#myChart {
  width: 90% !important;
  margin: 1em auto;
}

.chart-data {
  background: white;
  margin: 1em;
  padding: 1em;
}

/* MAP */
#map {
  height: 400px;
  width: 90%;
  margin: auto;
}
.title-map,
.title-chart {
  margin-bottom: 2em;
}

.chart,
.zone-map {
  margin-bottom: 2em;
  padding: 2em 0;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: 54px;
    position: fixed;
  }

  .menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1em;
  }
  .logo-app {
    margin-top: -10px;
  }

  .logout-item {
    display: none;
  }

  .box {
    margin: 1em;
  }
  .main {
    padding: 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    gap: 0;
    grid-template-areas: "sidebar" "temperature" "humidity" "chart" "map";
  }
  .temperature {
    margin-top: 3em;
  }
}
